#container {
    background-color: #79B77B;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
}

#logo-ecotopie{
    width: 40%;
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
}

#voy-ecotopie{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    position: absolute;
    margin-top: 35%;
}

#felicitation{
    position: absolute;
    font-size: 20%;
    text-align: center;
    top: 50%;
    margin-left: 3rem;
    margin-right: 3rem;
}

#felicitation p{
    padding-top: 1rem;
}

#votes {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 65%;

}

.vote {
    /*background-color: #79B77B;*/
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    background-color: white;
    padding-bottom: 0.75rem;
    padding-top:0.75em;
    margin-top: 1rem;

}

.note {
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    margin-right: auto;
    margin-left: auto;
    border: black solid 2px;

}
.solution{
    border-radius: 2rem;
    background-color: pink;
    margin-bottom: 1rem;
    font-size: 30%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 1rem 1rem;
    text-align: center;
}
.selected {
    height: 1.5rem;
    width: 1.5rem;
}

.submit{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: black solid 2px;
    text-align: center;
    border-radius: 2rem;
}
