#container {
    background-color: lightblue;
}

h1 {
    font-size: 1em;
    line-height: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}

#dialogue {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    background-color: lightgreen;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

#dialogue > * {
    position: relative;
}

#messages > * {
    position: relative;
}

.message {
    color: black;
    max-width: 30em;
    
    background-color: white;
    padding: 0.5em 0.75em;
    font-size: 0.2em;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    bottom: 1rem;
    width: 75%;
    margin-bottom: 0.5rem;
}

.name {
    padding: 1.5em 0.75em;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    margin-right: 0.5em;
}

.answer {
    color: black;
    max-width: 30em;

    background-color: white;
    padding: 0.5em 0.75em;
    font-size: 0.2em;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    bottom: 1rem;
    width: 75%;
    margin-bottom: 0.5rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

.message::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    border: .5rem solid transparent;
    border-top: none;
    
    border-bottom-color: white;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.message.right::before {
    right: 1em;
}

.message.left::before {
    left: 1em;
}
