#container {
    background-color: #79B77B;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

#felicitation{
    position: relative;
    font-size: 20%;
    text-align: center;
    top: 50%;
    margin-left: 3rem;
    margin-right: 3rem;
}

#votes {
    position: relative;
    width: 100%;
    border-top: 1px solid #000000;
    background-color: pink;
    top: 60%;
}

.vote {
    background-color: #79B77B;

}

.note {
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}

.selected {
    height: 1.5rem;
    width: 1.5rem;
}

#logo-ecotopie{
    width: 30%;
    position: absolute;
}

#voy-ecotopie{
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
    position: absolute;
    margin-top: 40%;
}