@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.otf') format('opentype')
}

h1 {
    font-size: 0.25em;
    line-height: 1em;
    background-color: #FFB84E;
    margin: 1rem 0;
    padding: 5% 20% 5% 20%;
    color: white;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;


    text-align: center;
    font-style: normal;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

#titre {
    display: flex;
    height: 100%;
    width: 60%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#left-arrow {
    display: flex;
    width: 11%;
}

#right-arrow {
    display: flex;
    width: 11%;
    margin-right: 0.2em;
}