#container {
    background-color: white;
    overflow-y: scroll;
}

h1 {
    font-size: 0.7em;
    line-height: 1em;
    background-color: #FFB84E;
    margin: 1rem auto 1em;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;


    display: flex;
    justify-content: center;
    align-items: center;


    text-align: center;

    font-family: 'Montserrat', serif;
    font-style: normal;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;



}

#titre {
    display: flex;
    height: 100%;
    width: 70%;
    border-radius: 0 30px 30px 0;
}


.achievement {
    color: black;
    position: relative;
    padding: 1em 0.75em;
    font-size: 0.2em;
    border-radius: 1rem;


    display: flex;
    flex-flow : wrap;
    align-content :space-between;
    justify-content :left;

    margin-bottom: 1rem;
}

.ID {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border : 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}


.name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


.shortDescription{
    display: flex;
    font-size: 1rem;
    color: black;
    flex-basis: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-left: 1rem;

}


.achievement:not(:first-of-type) {
    position: relative;
    top: -30px;
}



.shortDescription-1, .achievement-1 {
    background-color: #CFCCF9;
}

.shortDescription-2, .achievement-2 {
    background-color: #A4A4FC;
}

.shortDescription-3, .achievement-3 {
    background-color: #9088FF;
}
.shortDescription-4, .achievement-4 {
    background-color: #FFC8A2;
}
.shortDescription-5, .achievement-5 {
    background-color: #FFB84E;
}
.shortDescription-6, .achievement-6 {
    background-color: #F89E62;
}
.shortDescription-7, .achievement-7 {
    background-color: #FD9E98;
}
.shortDescription-8, .achievement-8 {
    background-color: #FF73BA;
}