#container {
    background-color: white;
    overflow-y: scroll;
}

h1 {
    font-size: 0.25em;
    line-height: 1em;
    background-color: #FFB84E;
    margin: 1rem 0;
    padding: 5% 30% 5% 30%;
    color: white;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;


    text-align: center;
    font-style: normal;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

#titre {
    display: flex;
    height: 100%;
    width: 60%;
}

#left-arrow {
    display: flex;
    width: 11%;
}

.achievement {
    color: black;
    width: 100%;
    height: auto;
    padding: 1em 1em 2em;
    font-size: 0.3em;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    box-sizing: border-box;
    margin-top: -8%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

#visible {
    color: black;
    width: 100%;
    height: auto;
    padding: 0em 1em 3em;
    font-size: 0.3em;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
}


.ID {
    width: 3rem;
    height: 3rem;
    border-radius: 4vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-size: 2rem;
}

.cadenas {
    width: 3rem;
    height: 3rem;
    border-radius: 4vw;
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

#image_cadenas {
    width: 100%
}

.name {
    font-size: 1.5rem;
    font-weight: normal;
    max-width: 80%;
}


.shortDescription {
    display: flex;
    font-size: 1rem;
    color: black;
    flex-basis: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-left: 1rem;

}




.achievement-any {
    background-color: white;
    border: solid;
    border-color: black;
    border-width: 2px;

}

.shortDescription-1,
.achievement-1 {
    background-color: #CFCCF9;

}

.shortDescription-2,
.achievement-2 {
    background-color: #A4A4FC;
}

.shortDescription-3,
.achievement-3 {
    background-color: #9088FF;
}

.shortDescription-4,
.achievement-4 {
    background-color: #FFC8A2;
}

.shortDescription-5,
.achievement-5 {
    background-color: #FFB84E;
}

.shortDescription-6,
.achievement-6 {
    background-color: #F89E62;
}

.shortDescription-7,
.achievement-7 {
    background-color: #FD9E98;
}

.shortDescription-8,
.achievement-8 {
    background-color: #FF73BA;
}