
#container {
    background-color: #79B77B;
}


#votes {
    background-color: pink;
}

.vote {
    background-color: #79B77B;
    display: flex;
    height: 3rem;
}

.note {
    display: flex;
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}

.selected {
    height: 1.5rem;
    width: 1.5rem;
}

#logo-ecotopie{
    width: 35%;
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
}

#voy-ecotopie{
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
    position: absolute;
    margin-top: 40%;
}

#felicitation{
    position: absolute;
    font-size: 25%;
    text-align: center;
    margin: 10%;
    top: 50%;
}

.fleche_bas{
    width: 10%;
    position: absolute;
    left: 45%;
    right: 45%;
    top: 130%;
}