h1 {
    font-size: 1em;
    line-height: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}

.message {
    color: black;
    position: relative;
    max-width: 30em;

    background-color: white;
    padding: 0.5em 0.75em;
    font-size: 0.2em;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    bottom: 1rem;
    width: 75%;
    margin-bottom: 0.5rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

.message::before {
    /* layout*/
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1em; /* offset should move with padding of parent*/
    border: .5rem solid transparent;
    border-top: none;

    /*looks*/
    border-bottom-color: white;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}
