html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


header#theme-selector, footer#folder {
    position: absolute;
}

header {
    background: var(--gris-clair);
}

header#theme-selector {
    z-index: 1;
    top: 2%;
    width: 60%;
    padding: 2% 7% 2% 7%;
    border-radius: 20px;
}

header#theme-selector div#topic-related ul#theme-list li{
    width: 15%;
}
header#theme-selector div#topic-related ul#theme-list li img{
    width: 100%;
    height: 100%;
}


main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div#map {
    z-index: 0;
    width: 100%;
    height: 100%;
}

main div#map .leaflet-map-pane .leaflet-tile-pane {
    filter: brightness(92.5%);
}

main div#miniature-related {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 60%;
}

main div#miniature-related img#fermeture-miniature {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 20%;
    width: 10%;
    height: 10%;
}

main div#miniature-related div#miniature-content {
    position: relative;
    top: 5%;
    bottom: 5%;
    width: 100%;
    height: 90%;
    background-color: var(--gris-clair);
    border-radius: 50px;
}

main div#miniature-related div#miniature-content section.photo-case {
    height: 40%;
    width: 100%;
}

main div#miniature-related div#miniature-content section.photo-case img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50px 50px 0 0;
}

main div#miniature-related button.bouton-rond {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 20%;
}

footer#folder {
    z-index: 1;
    bottom: 0;
    width: 75%;
}

.display-none {
    display: none;
}

.keywords {
    flex-wrap: wrap;
}


.keywords #keyword-manage {
    font-weight: bold;
}

.keyword-item {
    white-space: nowrap;
    border-radius: 500px;
    background-color: var(--blanc-fond);
    margin-top: 3%;
    margin-right: 7%;
    padding: 2%;
}

.keyword-item.k-selected {
    background-color: var(--bleu-fonce);
    color: white;
}