html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    height: calc(5vh * 3/4);
}

header a, header a div {
    height : 2vh;
}

header a div img {
    height: 100%;
}

header .bouton-rond {
    height: 2vh;
    font-size: 1.5em;
}

header #petit-rond {
    width: 2vh;
    height: 2vh;
    font-size: 2em;
    padding: 3%;
}


section#theme-selector {
    position: absolute;
}

section {
    background: var(--gris-clair);
}

section#theme-selector {
    z-index: 1;
    top: 15%;
    width: 60%;
    padding: 2% 7% 2% 7%;
    border-radius: 20px;
}

section#theme-selector div#topic-related ul#theme-list li{
    width: 15%;
}
section#theme-selector div#topic-related ul#theme-list li img{
    width: 100%;
    height: 100%;
}


main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div#map {
    z-index: 0;
    width: 100%;
    height: 100%;
}

main div#map .leaflet-map-pane .leaflet-tile-pane {
    filter: brightness(92.5%);
}

main div#miniature-related {
    position: absolute;
    z-index: 4;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 60%;
}

main div#miniature-related img#fermeture-miniature {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 15%;
    width: 10%;
    height: 10%;
}

main div#miniature-related div#miniature-content {
    position: relative;
    top: 5%;
    bottom: 5%;
    width: 100%;
    height: 90%;
    background-color: var(--gris-clair);
    border-radius: 50px;
}

main div#miniature-related div#miniature-content section.photo-case {
    height: 40%;
    width: 100%;
    border-radius: 50px 50px 0 0;
}

main div#miniature-related div#miniature-content section.photo-case img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50px 50px 0 0;
}

main div#miniature-related div#miniature-content section.information-fiche {
    height: 60%;
    width: 80%;
}

main div#miniature-related div#miniature-content section.entreprise-info,
main div#miniature-related div#miniature-content section.keywords,
main div#miniature-related div#miniature-content section.topic {
    font-size: 0.8em; /* Combiné au 0.5em du p dans general.css */
}

main div#miniature-related div#miniature-content section.topic {
    border-radius: 500px;
    background-color: var(--blanc-fond);
    padding: 2% 7% 2% 2%;
    width: min-content;
    white-space: nowrap;
    max-height: 10%;
}

main div#miniature-related div#miniature-content section.topic img {
    height: 100%;
}

main div#miniature-related div#miniature-content section.topic p {
    margin-left: 5px;
}

main div#miniature-related button.bouton-rond {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 15%;
}

main div#overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gris-moyen);
    opacity: 0.75;
}

main div#popup {
    position: absolute;
    z-index: 4;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 20%;
}

main div#popup img#fermeture-popup {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 15%;
    width: 20%;
    height: 20%;
}

main div#popup div#popup-content {
    position: relative;
    top: 10%;
    bottom: 10%;
    width: 100%;
    height: 80%;
    background-color: var(--gris-clair);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#folder-front-pane, footer#folder-back-pane div#folder-tab-map, footer#folder-back-pane div#folder-back-body-map {
    box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75);
}

div#folder-front-pane {
    position: absolute;
    left: 10%;
    bottom: 0;
    z-index: 6;
    width: 80%;
    height: 7.5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 25px 25px 0 0;
    perspective : 600px;
    transition: 0.5s;
    background-color: var(--gris-clair);
}

footer#folder-back-pane {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 15%;
}

footer#folder-back-pane div#folder-tab-map {
    width: 45%;
    height: 20%;
    background-color: var(--gris-clair);
    border-radius: 25px 25px 0 0;
    padding: 2%;
    z-index: 4;
    position: relative;
    color: var(--bleu-fonce);
}

footer#folder-back-pane div#folder-back-body-map {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 85%;
    background-color: var(--gris-clair);
    border-radius: 0 25px 0 0;
}

div#folder-front-pane:hover {
    transform: perspective(25px) rotateX(-0.20deg) scale(1.2);
}

.open-folder-animation-map {
    animation: 1s open-folder-map ease-in forwards;
}

@keyframes open-folder-map {
    0% {
        transform: perspective(0px) rotateX(0deg) scale(1);
    }
    50% {
        transform: perspective(25px) rotateX(-0.20deg) scale(1.2);
    }
    100% {
        transform: perspective(0px) rotateX(0deg) scale(1);
    }
}



.display-none {
    display: none;
}

.keywords {
    flex-wrap: wrap;
}


.keywords #keyword-manage {
    font-weight: bold;
}

.keyword-item {
    white-space: nowrap;
    border-radius: 500px;
    background-color: var(--blanc-fond);
    margin-top: 3%;
    margin-right: 7%;
    padding: 2%;
}

.keyword-item.k-selected {
    background-color: var(--bleu-fonce);
    color: white;
}