#container > * {
    width: 75%;
}

header a, header a div {
    height : 2vh;
}

header a div img {
    height: 100%;
}

div#overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gris-moyen);
    opacity: 0.75;
}

div#popup {
    position: absolute;
    z-index: 4;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 20%;
}

div#popup img#fermeture-popup {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 15%;
    width: 20%;
    height: 20%;
}

div#popup div#popup-content {
    position: relative;
    top: 10%;
    bottom: 10%;
    width: 100%;
    height: 80%;
    background-color: var(--gris-clair);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#theme-selector-long {
    height: 50%;
    margin-top: 10%;
}

#label-selector p {
    width: fit-content;
    font-size: 1.2em;
    margin-bottom: 5%;
}

#label-selector p {
    width: fit-content;
    font-size: 1.2em;
}

#label-selector img {
    height: 4vh;
    transform: translateY(11%);
}



#liste-theme {
    background: var(--gris-clair);
    width: 100%;
    height: 80%;
    border-radius: 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#liste-theme ul {
    height: 80%;
    width: 40%;
}

#liste-theme ul li {
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
    background: var(--blanc-fond);
    border-radius: 500px;
    padding: 5% 7% 5% 5%;

}

#liste-theme ul li img {
    height: 5vh;
    margin-right: 1vw;
}

#partie-basse {
    height: 80%;
    width: 100%;
}

footer {
    width: 75%;
    height: 15%;
}

.display-none {
    display: none;
}
