header {
    height: 20%;
}

#liste-theme {
    background: var(--gris-clair);
    width: 75%;
    height: 70%;
    border-radius: 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#partie-basse {
    height: 80%;
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

.theme {
    width: min-content;
    user-select: none;
    cursor: pointer;
}

.checked-theme {
    color: yellow;
}

footer {
    width: 100%;
}