html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    height: calc(5vh * 3/4);
}

header a div, header a div img {
    height: 100%;
}


header #petit-rond {
    width: 2vh;
    height: 2vh;
    font-size: 2em;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main p{
    font-size: 0.5em;
}

main div#credits-content {
    position: absolute;
    border-radius: 25px;
    z-index: 2;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    background-color: var(--gris-clair);
}

main div#credits-content section#members {
    width: 80%;
    height: 25%;
}

main div#credits-content section#members div#members-wd, main div#credits-content section#members div#members-dev {
    width: 45%;
    height: 100%;
}

main div#credits-content section#members div#members-wd div#members-w, main div#credits-content section#members div#members-wd div#members-d {
    width: 100%;
    height: 50%;
}

main div#credits-content section#helpers {
    width: 80%;
    height: 25%;
    text-align: center;
}



main div#credits-content section#images {
    width: 80%;
    height: 40%;
}

main div#credits-content section#images div#images-t{
    width: 100%;
    height: 20%;
    text-align: center;
}

main div#credits-content section#images div#images-i{
    width: 100%;
    max-width: 100%;
    height: 80%;
    max-height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center center;
}

main div#credits-content section#images div#images-i img{
    width: 60%;
    height: auto;
}

footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url('../img/rainbow_background_bottom.svg');
}