
#container > * {
    width: 75%;
}

#presentation {
    font-size: 1.4em;
    text-align: center;
}

#explication {
    font-size: 1em;
    background: var(--gris-clair);
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 25%;
}

#explication > p {
    width: 60%;
    line-height: 95%
}


.bouton-rond {
    height: fit-content;
}

footer {
    height: 15%;
}

#presentation {
    line-height: 0.6em;
}



