/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
* {
    padding:0;
    margin:0;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
}

ul {
    list-style: none;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}




#container {
    background-color: #1a1a1a;
}




/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the devie used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 3/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positionning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

