@import url('https://fonts.cdnfonts.com/css/poppins');
/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
* {
    padding:0;
    margin:0;
}

:root {
    /* Couleurs catégories */
    --orange: rgba(246, 174, 10, 1);
    --caca-doie: rgba(201, 174, 55, 1);
    --vert: rgba(156, 175, 101, 1);
    --turquoise: rgba(111, 175, 146, 1);
    --cyan: rgba(66, 176, 192, 1);
    --bleu-clair: rgba(21, 176, 237, 1);



    /* Interface */
    --blanc-fond: #ffffff;
    --gris-clair: #F8F8F8;
    --bleu-fonce: #006982;
}

body {
    background-color: black;
    color: var(--bleu-fonce);
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

h2 {
    font-size: 1em;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-center-flex-start {
    align-items: flex-start;
}

.align-items-center-flex-end {
    align-items: flex-end;
}



#container {
    background-color: var(--blanc-fond);
}

.bouton-rond {
    font-family: 'Poppins', sans-serif;
    color: var(--bleu-fonce);
    border-radius: 500px;
    padding: 3%;
    border: none;
    background: var(--blanc-fond);
    font-size: 0.7em;
}

.rainbow-background {
    background-color: var(--blanc-fond);
    background-image: url("../img/rainbow_background.svg");
    background-size: 100%;
    background-position: center 60vh;
    background-repeat: no-repeat;

}

.italic {
    font-style: italic;
}

.gras {
    font-weight: bold;
}


.orange-font {
    color: var(--orange);
}

.caca-doie-font {
    color: var(--caca-doie);
}

.vert-font {
    color: var(--vert);
}

.turquoise-font {
    color: var(--turquoise);
}

.cyan-font {
    color: var(--cyan);
}

.bleu-clair-font {
    color: var(--bleu-clair);
}


/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the devie used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 3/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positionning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(5vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 5vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 5vw;
    }
}

