html, body {
    padding: 0;
    margin: 0;
}
html {
    height: 100vh;
}
body {
    height: 100vh;
}

#container > * {
    width: 75%;
}


#liste-profils {


}

.information-fiche {

    height: 60%;
    width: 80%;
}
.fiche-minia {
    user-select: none;
    width: 90%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.5);
    background: var(--gris-clair);
}


.photo-case img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;


}


.photo-case {
    width: 40%;
}
section {

}

#folder{
    height: 80%;

}


#folder-back-body {
    height: 100%;
    width: 100%;
}

.liste-profils {
    width: 90%;
}