html, body {
    padding: 0;
    margin: 0;
}
html {
    height: 100vh;
}
body {
    height: 100vh;
}

#container > * {
    width: 75%;
}

#swiper {
    height: 50%;
    width: 100%;
}

.carousel-list {
    user-select: none;
    width: 60%;
    height: 100%;
    perspective: 300px;
}
.carousel-item {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all 0.3s ease-in;
}
.carousel-item {
    background: var(--gris-clair);
}

.carousel-item[data-pos="0"] {
    z-index: 5;
}

.carousel-item[data-pos="-1"] {
    transform: translateX(-10%) scale(0.9);
    z-index: 4;
}
.carousel-item[data-pos="1"] {
    transform: translateX(10%) scale(0.9);
    z-index: 4;
}
.carousel-item[data-pos="-2"] {
    transform: translateX(-20%) scale(0.8);
    z-index: 3;
}
.carousel-item[data-pos="2"] {
    transform: translateX(20%) scale(0.8);
    z-index: 3;
}

.photo-case {
    height: 40%;
    width: 100%;
}

.carousel-item .photo-case img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.information-fiche {
    height: 60%;
    width: 80%;
}

.bouton-voir-profil{
    width: 50%;
    margin-left: 55%;
    margin-bottom: -7%;
}

.bouton-voir-profil button{
    padding: 6%;
}

.entreprise-info, .keywords, .topic {
    font-size: 0.8em; /* Combiné au 0.5em du p dans general.css */
}

.keywords {
    flex-wrap: wrap;
}

.keyword-item {
    white-space: nowrap;
    border-radius: 500px;
    background-color: var(--blanc-fond);
    margin-right: 7%;
    margin-bottom: 2%;
    padding: 2%;
}

.topic {
    border-radius: 500px;
    background-color: var(--blanc-fond);
    padding: 2% 7% 2% 2%;
    width: min-content;
    white-space: nowrap;
    max-height: 10%;
}

.topic img {
    height: 100%;
}

.topic p {
    margin-left: 5px;
}

#tuto {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00698280; /* Black w/ opacity */
    transition: 0.2s;
}

#tuto #tuto-content {
    width: 60%;
    height: 50%;
    margin-bottom: 5%;
}

#tuto #tuto-content #tuto-explication {
    background-color: var(--gris-clair);
    width: 100%;
    height: 60%;
    border-radius: 30px;
}

#tuto #tuto-content #tuto-explication p {
    text-align: center;
    width: 80%;
}

#tuto #tuto-content img{
    height: 40%;
}

.recreate-deck-animation-1 {
    animation-duration: 0.5s;
    animation-name: suffle-card-1;
}

.recreate-deck-animation-2 {
    animation-duration: 1s;
    animation-name: suffle-card-2;
}

.recreate-deck-animation-3 {
    animation-duration: 1s;
    animation-name: suffle-card-3;
}

@keyframes suffle-card-1 {
    0% {
        transform: translateY(0%);
    }

    10% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes suffle-card-1 {
    0% {
        transform: translateY(0%);
    }

    10% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes suffle-card-2 {
    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes suffle-card-3 {
    0% {
        transform: translateY(0%);
    }

    30% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0%);
    }
}
