html, body {
    padding: 0;
    margin: 0;
}
html {
    height: 100vh;
}
body {
    height: 100vh;
}

#container > * {
    width: 75%;
}
.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    perspective: 300px;
}
.carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0;
    width: 300px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all 0.3s ease-in;
}
.carousel__item:nth-child(1) {
    background: linear-gradient(to top, whitesmoke 60%, #fdbb2d 40%);
;
}
.carousel__item:nth-child(2) {
    background: linear-gradient(to top, whitesmoke 60%, #fdbb2d 40%);
}
.carousel__item:nth-child(3) {
    background: linear-gradient(to top, whitesmoke 60%, #fdbb2d 40%);
}
.carousel__item:nth-child(4) {
    background: linear-gradient(to top, whitesmoke 60%, #fdbb2d 40%);
}
.carousel__item:nth-child(5) {
    background: linear-gradient(to top, whitesmoke 60%, #fdbb2d 40%);
}
.carousel__item[data-pos="0"] {
    z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
    opacity: 0.7;
    filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
    transform: translateX(-10%) scale(0.9);
    z-index: 4;
}
.carousel__item[data-pos="1"] {
    transform: translateX(10%) scale(0.9);
    z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
    opacity: 0.4;
    filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
    transform: translateX(-20%) scale(0.8);
    z-index: 3;
}
.carousel__item[data-pos="2"] {
    transform: translateX(20%) scale(0.8);
    z-index: 3;
}

#theme-selector ul {
    width: 100%;
    margin-top: 2%;
}

#theme-selector ul li {
    border-radius: 100px;
}

#theme-selector ul li:hover {
    cursor: pointer;
}

#theme-selector ul li img {
    height: 6vh;
    transition: 0.2s;
}


#swiper {
    height: 50%;
}


#folder-tab {
    width: 45%;
    background-color: var(--gris-clair);
    border-radius: 3vh 3vh 0 0;
    padding: 2%;
}

#folder-back-body {
    width: 100%;
    height: 10vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--gris-clair);
    border-radius: 0 3vh 0 0;
    transition: 0.5s;
}

#folder-front-body {
    width: 100%;
    height: 80%;
    background-color: var(--blanc-fond);
    position: relative;
    top: 25%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3vh 3vh 0 0;
    perspective : 600px;
    transition: 0.5s;
}

/* Animation d'ouverture du dossier au passage de la souris */
footer:hover{
    cursor: pointer;
}

footer:hover #folder-back-body{
    height: 11vh;
}

footer:hover #folder-front-body {
    transform: perspective(50px) rotateX(-1deg) scale(1.1);
}




.checked-theme {
    border: 5px solid blue;
}

.unchecked {
    opacity: 40%;
}