/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
* {
    padding: 0;
    margin: 0;
}

body {
    
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: raleway, sans-serif;
    color: #282828;
}

/* -------------- Loader --------------*/
#loader {
    z-index: 2;
    position: absolute;
}

#loader-img {
    top: 40%;
    left: 40%;
    position: absolute;
}

#loader-text {
    text-align: center;
    font-size: 25%;
    position: absolute;
    top: 60%;
    width: 100%
}

/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the container */
#mySwiper {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section, #loader{
    background: rgb(180, 219, 251);
    /*background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,146,1) 100%);*/
    width: 100%;
    height: 100%;
}

/* Most of the elements in this demo are absolute positionned with percentages */
#end-slide header {
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
}


/* Last slide image is centered */
#img-fini {
    width: 70%;
    left: 50%;
    top: 40%;
    position: absolute;
    margin-left: -35%;
    margin-top: calc(-25% * 9 / 16); /* margins are relative to the element width... :-( */
}

main > section {
    background-image: url('../img/background.svg');
    background-size: 100% 100%;
}


/* ---------- Positionning of logos on the last slide -------------------- */
/* here we have a contraint on the height of the logos (not the width)     */
/* so we cannot use % and use em (which are proportinal to the size of the */
/* slide because of body's font size rule at the end of this CSS           */
#bandeau {
    padding-top: 3%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
}

#bandeau li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
}

#bandeau img {
    height: 2.5em;
}

#bandeau #hyblab {
    margin: 1em auto;
    height: 3em;
    display: block;
}

#bandeau #cc, #bandeau #opensource {
    height: 1em;
}

#bandeau .stacked {
    display: block;
}

#bandeau ul {
    text-align: center;
    padding: 0 0;
    margin-bottom: 0.5em;
}

#bandeau .institutionnel {
    height: 2em;
}


/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the devie used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 3/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container {
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positionning of child elements*/
    height: 100%; /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body {
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container {
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body {
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */
@media screen and (max-aspect-ratio: 9/16) {
    #container {
        margin-left: 0; /* reset left margin */
        width: 100vw; /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top: 50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body {
        font-size: 15vw;
    }
}

/************************************
SLIDE ACCUEIL
************************************/

#logo-verdure {
    text-align: center;
    width: 70%;
    left: 50%;
    top: 5%;
    margin-left:-25%;
    margin-top:calc(-7.5% * 9 / 16 ); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 50%;
    z-index: 2;
    cursor: pointer;
}

#presentation-jeu {
    font-size: 25%;
    position: absolute;
    top: 25%;
    width: 50%;
    left: 10%;


}

/*************************
SLIDE QUESTION
*************************/

.indic {
    text-align: center;
    width: 8%;
    left: 72%;
    top: 89%;
    margin-left: -25%;
    margin-top: calc(-7.5% * 9 / 16); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 80%;
    z-index: 2;
    cursor: pointer;
}

.footer p{
    text-align: center;
    position: absolute;
    top : 94%;
    width: 100%;
    font-size: 30%;
    color: #282828;
}


.question-slide{
    background-position-y: 0;
    transition: background-position-y 1s;
}


#city1, #city2, #city3, #city4, #city5, #city6, #city7 {
    position: absolute;
    top: 27%;
    right: 0;
    opacity: 100;
    transition: top 3s, opacity 3s;
    width: 100%;
}

#boulevard1, #boulevard2, #parking1, #parking2, #parking3, #parking4, #place1, #place2, #place3, #place4, #place5, #place6, #friche1, #friche2, #friche3, #place {
    position: absolute;
    top: 20%;
    right: 0;
    opacity: 0;
    transition: opacity 3s;
    width: 100%;
}


/*****************
SLIDE ANIMATION SORTIE+ZOOM
******************/

.img_gauche, .img_bas, .img_droit, .img_haut {
    width: 40%;
    height: auto;
    text-align: center;

}


.img_bas {
    position: absolute;
    top: 47.7%;
    text-align: center;
    left: 32%;
}

.img_haut {
    position: absolute;
    top: 33%;
    text-align: center;
    left: 32%;
}

.img_gauche {
    position: absolute;
    top: 41.5%;
    text-align: center;
    left: 7.5%;
}

.img_droit {
    position: absolute;
    top: 41.5%;
    text-align: center;
    right: 3%;
}

.route {
    width: 50%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 27%;
    text-align: center;
}

#route1, #route2, #route3{
opacity: 100;
transition : opacity 1s;
}

/*************************
ANIMATION ENTREE 
*************************/
/* 
.img_gauche_Entree, .img_bas_Entree, .img_droit_Entree, .img_haut_Entree {
    width: 40%;
    height: auto;
    text-align: center;

}


.img_bas_Entree {
    position: absolute;
    top: 49.5%;
    text-align: center;
    left: 32.1%;
}

.img_haut_Entree {
    position: absolute;
    top: 33.5%;
    text-align: center;
    left: 32%;
}

.img_gauche_Entree {
    position: absolute;
    top: 41.2%;
    text-align: center;
    left: 7.5%;
}

.img_droit_Entree {
    position: absolute;
    top: 41.3%;
    text-align: center;
    right: 3%;
}

/********************************
INDICATEUR
*******************************/
/*THERMOMETRE*/
.containerthermo{
    position:absolute;
    width: 4.2vh;

    height: 6vh;
    right: 1.9vh;
    top: 2vh;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
}

.containerthermofinal {
    position: absolute;
    width: 5vh;
    height: 8vh;
    left: 3.3vh;
    top: 2vh;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
}

.thermo {
    position: absolute;
    background-color: red;
    transition: height 3s, background-color 3s;
    width: 95%;
    height: 85%;
    bottom: 2%;
    left: 2%;
}

#thermoindic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0px;
    padding: 0px;
}

/*MONEY*/

.containermoney {
    position: absolute;
    width: 4.5vh;
    height: 4.5vh;
    right: 1.7vh;
    top: 9vh;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
}

.containermoneyfinal {
    position: absolute;
    width: 5.5vh;
    height: 5.5vh;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
    left: 3vh;
}

.money {
    position: absolute;
    background-color: #0ffc03;

    width: 90%;
    height: 80%;
    bottom: 2%;
    left: 2%;
    transition: height 3s, background-color 3s;
}

#moneyindic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0px;
    padding: 0px;
}

/*HAPPY*/

.containerhappy {
    position: absolute;
    width: 4.5vh;
    height: 4.5vh;
    right: 1.7vh;
    top: 14vh;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
}

.containerhappyfinal {
    position: absolute;
    width: 5.5vh;
    height: 5.5vh;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
    left: 3vh;
}

.happy {
    position: absolute;
    background-color: #d2fc03;
    width: 100%;
    height: 50%;
    left: 1%;
    bottom: 2%;
    transition: height 3s, background-color 3s;
}

#happyindic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0px;
    padding: 0px;
}

/**************
****QUESTION***
***************/

.question-footer1, .question-footer2, .question-footer3, .question-footer4, .question-footer5, .question-footer6, .question-footer7 {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 3s;
    background-color: #ffffff;
    padding-bottom: 3vh;
}

#question-title1, #question-title2, #question-title3, #question-title4, #question-title5, #question-title6, #question-title7 {
    text-align: center;
    font-size: 3vh;
    margin: 2vh;
    font-weight: bold;
}

#answer1, #answer2, #answer3, #answer4, #answer5, #answer6, #answer7 {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 3vh;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vh;
}

#answer1 div, #answer2 div, #answer3 div, #answer4 div, #answer5 div, #answer6 div, #answer7 div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    text-align: center;
    height: 90%;
    font-weight: bold;
    box-shadow: -2px 2px #306947;
    padding: 1vh;
    background-color: #ffffff;
}

/**************
****REPONSE***
***************/

#short-answer1, #short-answer2, #short-answer3, #short-answer4, #short-answer5, #short-answer6, #short-answer7 {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: opacity 3s;
    background-color: #ffffff;
    padding-bottom: 1vh;
}

#show-button1, #show-button2, #show-button3, #show-button4, #show-button5, #show-button6, #show-button7 {
    color: #282828;
    background-color: transparent;
    border: none;
    font-size: 2vh;
    right: 0;
    width: auto;
    height: 5vh;
    box-shadow: -2px 2px #306947;
    padding: 1vh;
}

#answer-title1, #answer-title2, #answer-title3, #answer-title4, #answer-title5, #answer-title6, #answer-title7 {
    text-align: left;
    font-size: 3vh;
    margin: 0 1vh;
    width: auto;
    font-weight: bold;
}

#consequences1, #consequences2, #consequences3, #consequences4, #consequences5, #consequences6, #consequences7 {
    display: grid;
    height: 100%;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vh;
    padding: 2vh 3vh;
}

#consequences1 p, #consequences2 p, #consequences3 p, #consequences4 p, #consequences5 p, #consequences6 p, #consequences7 p {
    font-size: 2vh;
    margin: 0 auto;
    padding: 1vh;
}

#consequences1 p p, #consequences2 p p, #consequences3 p p, #consequences4 p p, #consequences5 p p, #consequences6 p p, #consequences7 p p {
    margin: 0 auto;
    font-weight: bold;
}

.positive-titles {
    color: #95CC4A;
}

.negative-titles {
    color: #F36654;
}

#consequences1 #negativ1, #consequences2 #negativ2, #consequences3 #negativ3, #consequences4 #negativ4, #consequences5 #negativ5, #consequences6 #negativ6, #consequences7 #negativ7 {
    border-color: red;
}

#long-answer1, #long-answer2, #long-answer3, #long-answer4, #long-answer5, #long-answer6, #long-answer7 {
    font-size: 2vh;
    margin: 1vh;
    padding: 1vh;
}

#title1, #title2, #title3, #title4, #title5, #title6, #title7 {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2vh;
}

/****************
Nuage
***************/
figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0;
    position: absolute;
    left: 0;
    top: 0px;
    /* overflow: hidden; */
    background: url(http://res.cloudinary.com/duqzvuawc/image/upload/c_scale,h_424/v1508813537/clouds_tile_efhbuh.jpg);
    animation: clouds_animation 75s linear infinite;
}

@keyframes clouds_animation {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2122px 0;
    }
}

/*********/
/* #ville > img {
    width: 40%;
    height: auto;
    text-align: center;

} */


/**********************
Derniere slide
**********************/

/* Dropdown Content (Hidden by Default) */
.dropdownShareOptions {
    display: none;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.conclusion img {
    width: 15%;
    height: auto;
    margin-right: 2%;

}

.conclusion > p {
    font-size: small;
    width: 75%;
    font-size: 2vh;
    text-align: center;
    margin-left: 7vh

}

.conclusion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}


#result {
    position: relative;
    top: 10%;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    color: #0ffc03;

}

#containerEnd {
    position: absolute;
    top: 20%;
}


.button {
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    margin-top: 5%;
}

.dropdownShareButton, button {
    height: 50px;
    width: 150px;
    margin-right: 10px;
}

#dropdownShareOptions a {
    font-size: medium;
    display: block;
    margin-top: 5%;
    text-align: center;
    text-decoration: none;
}

#dropdownShareOptions img{
    height:auto;
    width:120px;
}

/**************************
slide entree texte
**************************/


#presentation1 {
    width: 75%;
    height: auto;
    font-size: 18%;
    color:black;
    position: absolute;
    top: 5%;
    left: 5%;
}

#presentation2 {
    width: 75%;
    color:black;
    height: auto;
    font-size: 18%;
    position: absolute;
    bottom: 15%;
    left:5%;
}


/**********************
GREENTA 
*********************/


.greenTa {
    text-align: center;
    width: 50%;
    left: 50%;
    top: 10%;
    margin-left: -25%;
    margin-top: calc(-7.5% * 9 / 16); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 50%;
    z-index: 2;
    cursor: pointer;
}

