/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
}

/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
}

#loader-img{
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:60%;
    width: 100%
}
/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section, #loader{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,146,1) 100%);
    width: 100%;
    height: 100%;
}

/* Most of the elements in this demo are absolute positionned with percentages */
#end-slide header{
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
}


/* Last slide image is centered */
#img-fini{
    width: 70%;
    left: 50%;
    top: 40%;
    position: absolute;
    margin-left:-35%;
    margin-top:calc(-25% * 9 / 16 ); /* margins are relative to the element width... :-( */
}

main > section{
    background-image: url('../img/background.svg');
    background-size: 100% 100%;
}


/* ---------- Positionning of logos on the last slide -------------------- */
/* here we have a contraint on the height of the logos (not the width)     */
/* so we cannot use % and use em (which are proportinal to the size of the */
/* slide because of body's font size rule at the end of this CSS           */
#bandeau {
    padding-top: 3%;
    width:100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }

  #bandeau img{
    height: 2.5em;
  }

  #bandeau #hyblab{
    margin: 1em auto;
    height: 3em;
    display: block;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
    margin-bottom: 0.5em;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }



/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the devie used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 3/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positionning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/************************************
SLIDE ACCUEIL
************************************/

#logo-verdure{
    text-align: center;
    width: 50%;
    left: 50%;
    top: 10%;
    margin-left:-25%;
    margin-top:calc(-7.5% * 9 / 16 ); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 50%;
    z-index: 2;
    cursor: pointer;
}

#presentation-jeu{
    font-size: 25% ;
    position: absolute;
    top : 25%;
    width : 50%;
    left: 10%;
    

}
/*************************
SLIDE QUESTION
*************************/

.indic{
    text-align: center;
    width: 10%;
    left: 70%;
    top: 90%;
    margin-left: -25%;
    margin-top: calc(-7.5% * 9 / 16 ); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 80%;
    z-index: 2;
    cursor: pointer;
}



#question-slide{

    background-position-y: 0;
    transition: background-position-y 1s;
}

#question{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
}

#question p{
    background-color: rgba(255, 255, 255, 0.159);
    color: white;
    text-align: center;
    font-size: 5vh;
}

#reponse p{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

#gauche{
    float:left;
    width:50%;
}

#droite{
    left:50%
}

.city{
    position : absolute;
    top : 27%;
    right :0;
    transition: top 3s;
    width: 100%;
}


/*****************
SLIDE ANIMATION
******************/

.animation-slide > img {
    width: 40%;
    height: auto;
    text-align: center;

}

#bas{
    position: absolute;
    top: 50%;
    text-align: center;
    left: 30%;
}

.img_haut{
    position: absolute;
    top: 32%;
    text-align: center;
    left: 30%;
}

.img_gauche{
    position: absolute;
    top: 40%;
    text-align: center;
    left: 10%;
}

.img_droit{
    position: absolute;
    top: 41%;
    text-align: center;
    right: 10%;
}


/**********************
********INDICATEUR*****
***********************/

.indicateur{
    position: absolute;
    right : 4%;
    top : 2%;
    height: 8%;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    opacity:100
}

#thermo{
    object-fit: fill;
    margin: 0px;
    padding: 0px;
}

#money{
    position : absolute;
    object-fit: fill;
    right : 4%;
    top : 12%;
}

#happy{
    position : absolute;
    object-fit: fill;
    right : 4%;
    top : 19.5%;
}


.containerthermo{
    position:absolute;
    width: 7%;
    height: 7%;
    right: 3%;
    top: 2%;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
}

.thermo{
    position:absolute;
    background-color: blue;
    width:  100%;
    height: 80%;
    bottom: 0px;
    transition: height 3s, background-color 3s;
}

#thermoindic{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0px;
    padding: 0px;
}

/*THERMOMETRE*/
.containerthermo{
    position:absolute;
    width: 6%;
    height: 6%;
    right: 4.5%;
    top: 2%;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
}

.thermo{
    position:absolute;
    background-color: rgb(0, 0, 255);
    width:  100%;
    height: 80%;
    bottom: 0px;
    transition: height 3s, background-color 3s;
}

#thermoindic {
    object-fit: fill;
    margin: 0px;
    padding: 0px;
}

/*MONEY*/

.containermoney{
    position:absolute;
    width: 9%;
    height: 5%;
    right: 3%;
    top: 9%;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
}

.money {
    position:absolute;
    background-color: rgb(0, 0, 255);
    width:  100%;
    height: 80%;
    bottom: 0px;
    transition: height 3s, background-color 3s;
}

#moneyindic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0px;
    padding: 0px;
}

/*HAPPY*/

.containerhappy{
    position:absolute;
    width: 9%;
    height: 5%;
    right: 3%;
    top: 15%;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
}

.happy {
    position:absolute;
    background-color: rgb(0, 0, 255);
    width:  100%;
    height: 80%;
    bottom: 0px;
    transition: height 3s, background-color 3s;
}

#happyindic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0px;
    padding: 0px;
}



