* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
    /* to avoid slider bugs on some browsers */
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container {
    position: fixed;
    /* To set the size of the container to 100% of the visible viewport height AND for absolute positionning of child elements*/
    height: 100%;
    /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2);
    /* Add black bands on left and right */
    width: calc(100 * 3vh / 4);
    /* Force 3/4 aspect ratio */
    background-color: #FBF6C3;
}


/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body {
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/20 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container {
        margin-left: 0;
        /* reset margin-left */
        width: 100vw;
        /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body {
        font-size: 15vw;
    }
}

/* The content is displayed at 9/20 If the aspect ratio is higher that 9/20  */
@media screen and (max-aspect-ratio: 9/20) {
    #container {
        margin-left: 0;
        /* reset left margin */
        width: 100vw;
        /* content is full width */
        margin-top: calc(-50 * 20vw / 9);
        /* move the content half the height to the top */
        top: 50%;
        /* then center it ! */
        height: calc(100 * 20vw / 9);
        /* adjust height so that aspect ratio is 9/20 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body {
        font-size: 15vw;
    }
}

/* général */

#sound-toggle {
    position: absolute;
    width: 10%;
    height: auto;
    top: 2%;
    left: 2%;
    cursor: pointer;
}

.header {
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
}

#home-button {
    z-index: 2;
    position: absolute;
    top: 1%;
    left: 0;
    width: 30%;
    height: 5%;
    cursor: pointer;
}

.bubble {
    text-align: left;
    font-size: 14px;
    background-color: #7a170e;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 16px;
    line-height: 22px;
    border: 3px solid #000000;
}

.circle {
    font-size: 20px;
    background-color: #7a170e;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 3px solid #000000;
    cursor: pointer;
}

.circle>p {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bulle {
    width: 60px;
    height: auto;
    position: absolute;
    display: block;
    top: -25%;
    left: -5%;
}

.left-button {
    position: absolute;
    width: 10%;
    height: auto;
    left: 5%;
    top: 10%;
    cursor: pointer;
}

.handwritten {
    font-family: 'Handlee';
}

#top-logo {
    top:0;
    width:95%;
    height:auto;
}

/* page d'accueil */

#container>.page {
    height: 100%;
    width: 100%;
}

.button {
    text-align: center;
    cursor: pointer;
}

#button-play>p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#button-play {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 25%;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 55%;
    height: 10%;
}

.footer {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 0px;
    margin:0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 10px;
    text-align: center;
    color: #CB9796;
    background-color: #AF0702;
}

.personnage {
    position: absolute;
    width: 66%;
    height: auto;
    left: 25%;
    top: 25%;
}

/* page de présentation */
.page-presentation-Domi{
    width: 100%;
    height: 100%;
}

#img-presentation-Domi{
    position: absolute;
    bottom: 45%;
    left:0;
    right: 0;
    margin:auto;
    width: 50%;
}

#img-presentation-Domi img{
    width: 100%;
}

#message-presentation-haut #tete-presentation{
    position: relative;
    width: 60px;
    top: -30%;
    left: 5%;
    color: red;
}

#message-presentation-haut{
    top: 50%;
    background: #004605;
    border: 2px solid #000000;
    border-radius: 0px 20px 20px 20px;
    height: 16%;
}

#message-presentation-haut p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

#message-presentation-bas{
    bottom: 0;
    background: #A51916;
    border: 2px solid #000000;
    border-radius: 10px 10px 0px 0px;
}

#message-presentation-bas p{
    position: relative;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 82%;
}

#message-presentation-bas .button-next{
    bottom: 30%;
}

#image-winemaker {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;
    width: 50%;
    height: auto;
}

#image-logo {
    display: block;
    position: absolute;
    left: 15%;
    width: 70%;
    top: 10%;
    height: auto;
    bottom: 0.39%;
}

#image-dominique {
    display: block;
    position: absolute;
    bottom: 0;
    right: 15%;
    height: 35%;
    width: auto;
}

/* Page crédits */

#page-credits h3,
dl {
    font-size: 28%;
    color: black;
    font-family: 'Itim';
}

#page-credits h3 {
    text-align: center;
    margin-top: 5%;
}

#page-credits dd {
    margin-left: 8%;
}

#page-credits dt {
    margin-top: 5%;
}

#page-credits dl {
    margin-left: 15%;
}

.logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 5%;
    grid-row-gap: 20%;
    text-align: center;
    position: absolute;
    left: 5%;
    bottom: 8%;
    width: 90%;
}

.logos img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* page contexte */
.message {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20%;
    text-align: justify;
    background-color: #AF0702;
    border-radius: 0px 20px 20px 20px;
    border: solid;
    border-color: black;
    padding: 0.7em;
    box-sizing: border-box;
    width: 100.1%;
    height: 30%;
}

.message#message-contexte p {
    position: relative;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

.message .tete-contexte {
    width: 50px;
    position: relative;
    top: -16%;
    left: 5%;
    color: red;
}

.message .tete-contexte img {
    width: 100%;
    height: auto;
}

div .button-next {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 50px;
    height: 50px;
}

img.button-next {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* page de cepage */

.bulle-question {
    z-index: 1;
    right: 8%;
    top: 25%;
    position: absolute;
    display: block;
    width: 30%;
    height: auto;
}

#cepage-choice {
    padding-top: 5%;
    top: 20%;
    left: 8%;
    width: 50%;
    background-color: #004605;
}

#cepage-container {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 25%;
}

.bouteilles-container {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 40%;
}

#liste-cepages {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15%;
    width: 100%;
}

.bouteille {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
}

#liste-cepages-boutons {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15%;
    width: 100%;
}

.button-cepage {
    border-radius: 10px;
    position: relative;
    display: block;
    margin: auto;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 10px;
}

#vigne-container {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 10%;
}

#image-vigne {
    display: block;
    width: 98%;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
}

.info {
    position: absolute;
    top: 0;
    margin-left: 20%;
}

/* page d'expliqaution du cépage */

.bouteille-container {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    height: 40%;
}

.bouteille-container>img {
    height: 100%;
    width: auto;
}

#explaination-cepage {
    background-color: #FFD78C;
    color: black;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    height: 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#explaination-cepage>p {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

#vigne-gauche,
#vigne-droite {
    position: absolute;
    display: block;
    z-index: 1;
    width: 35%;
    height: auto;
}

#vigne-gauche {
    left: 0;
    top: 30%;
}

#vigne-droite {
    right: 0;
    top: 15%;
}

/* page de question */

#question-container {
    margin-top: 20%;
    padding-left: 30px;
    padding-right: 30px;
}

#question-character {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: auto;
}

#question {
    background-color: #004605;
    position: relative;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#choices {
    text-align: center;
    font-size: 0;
}

.choice {
    top: 0;
    width: 40%;
    padding: 1%;
    margin: 2%;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.container-vin-score{
    position:absolute;  
    width: 14%;
    height: 42%;
    left: 43%;
    top: 10%;
    background-color:#FBF6C3;
    margin: 0px;
    padding: 0px; 
}

.container-vin-resume{
    position:absolute;  
    width: 26%;
    height: 70%;
    left: 10%;
    bottom: 20%;
    background-color: #FBF6C3;
    margin: 0px;
    padding: 0px; 
}

#button-score{
    position:absolute;  
    width: 10%;
    height: auto;
    right: 5%;
    bottom: 5%;
    margin: 0px;
    padding: 0px; 
}

.vin {
    position: absolute;
    background-color: blue;
    width: 98%;
    left: 1%;
    bottom: 1%;
    height: 90%;
    transition: height 3s, background-color 3s;
}

#bouteille {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#img-evenement {
    position: absolute;
    width: 100%;
    height: auto;
    top: 10%;
}

#txt-evenement {
    position: absolute;
    left:0px;
    right:0px;
    height: 35%;
    padding:0px;
    margin:auto;
    bottom:8%;    
}

#txt-score {
    position: absolute;
    left:0px;
    right:0px;
    height: 38%;
    padding:0px;
    margin:auto;
    bottom:0px;    
}

#txt-evenement>p{
    margin:5%;
}

#txt-score>p{
    margin:5%;
}

#button-evenement { 
    position: absolute;
    width:10%;
    height: auto;
    right:5%;
    bottom:13%;
    cursor : pointer;
}

#button-score { 
    position: absolute;
    width:10%;
    height: auto;
    right:5%;
    bottom:5%;
    cursor : pointer;
}

#button-resultat {
    position:absolute;
    left: 40%;
    bottom: 10%;
    cursor : pointer;

}

#button-resume {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 40%;
    bottom: 10%;
    cursor : pointer;
}

/*Page de sources et sources 2*/

#presenter {
    position: absolute;
    width:100%;
    height: auto;
    left: 0%;
    top: 20.87%;
    bottom: 49.29%;
}

#bulle-presenter{
    position: absolute;
    left:7.5%;
    top:63.5%;
    width:10%;
    height:auto;
}

#bureau {
    position:absolute;
    background-color: #FFD78C;
    color: black;
    width: 100%;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    height: 20%;
    border-radius: 0;
}

#bulle-sources{
    position:absolute;
    background-color: #AF0702;
    color: black;
    width: 100%;
    top:67.5%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    height: 22.5%;
    border-top-left-radius: 0;
}

.right-button-source{
    position: absolute;
    width: 8%;
    height: auto;
    right: 2.5%;
    bottom: 12%;
    cursor: pointer;
}

#bubble-text {
    width:60%;
    margin-left:20%;
    margin-top:2%;
    color:white;
}

.lien{
    color:white;
}

#liens {
    margin-left: 10%;
}
