.textElu{
    margin-top: 10%;
    font-size: 0.4em;
    font-weight: 100;
    display: inline-block;
    background-color: #d7d1d1;
    border-radius: 10px;
    padding: 1em 1em;
    width: 50%;
}
.Elu{
    display: inline-block;
    width: 20%;
    margin-top: 30%
}


