/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: #ffffff;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: "Poppins", sans-serif;
}
.carousel{
    height: 200px;
    margin-top: 8%;
}

#carousel-text{
    text-align: center;
    font-size: 30px;
    margin-top: -0.8em;
}

#legend-carousel{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    height: 50%;
}
#legend-carousel p{
    max-width: 40%;
}
.carouselResult{
    border-radius: 40px 40px 40px 40px;
    font-size: 30px;
    padding: 15px;
    border: none;
}
.navigate{
    background : transparent;
    border: transparent;
    padding-bottom: 20px;
}

#legend-carousel > * {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

#next, #prev{
    width: 10%;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2em;
    margin-top: 5%;
    font-weight: 600;
    color: #e81313;
}

h2{
    font-weight: 400;
    font-size: 1.6em;
    margin-top: 1em;
}

#third-slide object {
    width: fit-content;
}

#logo-environment{
    width: 45%;
}

p{
    font-size: 1.2em;
}

/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
}

#loader-img{
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:60%;
    width: 100%
}
/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: #da0404;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section, #loader{
    background-color: #ff8585;
    width: 100%;
    height: 100%;
}

/* Most of the elements in this demo are absolute positionned with percentages */
#first-slide header, #second-slide header{
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
}

/* Last slide image is centered */
#img-fini{
    width: 70%;
    left: 50%;
    top: 40%;
    position: absolute;
    margin-left:-35%;
    margin-top:calc(-25% * 9 / 16 ); /* margins are relative to the element width... :-( */
}

/* Footer of last slide is at the bottom and content is centered */
.swiper-slide main{
    position: absolute;
    bottom: 0;
    box-sizing: border-box; /* So that padding is not added to width (and width: 100% works) */
    /*width: 100%; /* could also use  width: calc(100% - 2em) if not using box-sizing */
    border-radius: 20px;
    width: 90%;
    font-size: x-small;
    text-align: center;
    padding: 1em 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    background-color: #6e0c0c;
    box-shadow: -0.5em 0.5em 0 0 #000000;
}


/* ---------- Positionning of logos on the last slide -------------------- */
/* here we have a contraint on the height of the logos (not the width)     */
/* so we cannot use % and use em (which are proportinal to the size of the */
/* slide because of body's font size rule at the end of this CSS           */
#bandeau {
    padding-top: 3%;
    width:100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }

  #bandeau img{
    height: 2.5em;
  }

  #bandeau #hyblab{
    margin: 1em auto;
    height: 3em;
    display: block;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
    margin-bottom: 0.5em;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the devie used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 3/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positionning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

#legend {
    margin-bottom: 1em;
}

#video-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-item {
    margin-left: 0.25em;
}

#header-slide-3 {
    height: 28%;
}

#header-slide-2{
    height: 34%;
}


.header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}