html {
    overflow: hidden;
}

body
{
    background-color: #FBC5EB;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: #FFF8F1;
    font-family: Prompt, sans-serif;
    text-align: center;
    margin-top: 10vh;
    font-size: 4vh;
    margin-bottom: 0;
}

.contact-text {
    color: #0B6E5F;
    text-align: center;
    font-family: Prompt, sans-serif;
    font-size: 3vh;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5vh;
}


.mascotte {
    position: fixed;
    right: -5vw;
    bottom: 35vh;
    /*top: 26vh;*/
    z-index: -1;
}


.texte-Elie {
    color: #0B6E5F;
    font-family: 'Covered By Your Grace', sans-serif;
    text-align: center;
    font-size: 3.2vh;
    margin-bottom: 0;
}


#ligne {
    width: 35vw;
}

#fleche {
    width: 10vw;
    margin-top: 2vh;
}


#elie {
    right: 0;
    /*width: 50vw;*/
    height: 30vh;
}

.texte-secondaire {
    text-align: center;
}


.bulle-text {
    color: #0B6E5F;
    font-family: Prompt, sans-serif;
    font-size: 2vh;
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
    /*margin: 0 17vh 1vh;*/
}



.white-rectangle {
    position: fixed;
    bottom: 0;
    background-color: #FFF8F1;
    width: 100vw;
    height: 40vh;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    z-index: 2;
}

.titre {
    display: block;
    color: #0B6E5F;
    font-weight: bold;
    font-family: Prompt, sans-serif;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 0;
}

.lien {
    display: block;
    color: #0B6E5F;
    font-family: Prompt, sans-serif;
    font-size: 3.8vw;
    text-align: center;
    margin-bottom: 3vh;
    text-decoration: none;
}