body{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFF8F1;
    height: 100vh;
    margin: 0;
}

/*//HEADER//*/
header.main{
    position: relative;
    z-index: 5;
}
.main #logo{
    width: 50%;
    max-width: 40%;
    height: auto;
}
#burger{
    position: absolute;
    right: 8%;
    top: 35%;
}

/*//MAIN//*/

#titles {
    min-height: 10vh;
    position: sticky;
    top: 1%;
    margin-top: 5vh;
    text-align: center;
    z-index: 4;
}

#titles h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'Prompt', sans-serif;
    font-size: 4vh;
    text-transform: uppercase;
    color: #0B6E5F;
}
#titles h5{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    font-family: 'Prompt', sans-serif;
    font-size: 2vh;
    color: #0B6E5F;
}
#rec{
    height: 20vh;
    width: 100vw;
    margin-top: -42%;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0), #FFF8F1, #FFF8F1, #FFF8F1, #FFF8F1);
    z-index: 3;
}
#animals-buttons {
    position: absolute;
    left: 50%;
    top: 22vh;
    transform: translate(-50%, 0);
}
#animals-buttons button {
    width: 88vw;
    height: 7vh;
    font-family: 'Prompt', sans-serif;
    font-size: 5vw;
    color: #0B6E5F;
    border-radius: 10vh;
    border: solid 2px #0B6E5F;
    background-color: #FBC5EB;
}

/*///FOOTER///*/

footer.main{
    height: 20vh;
    position: sticky;
    bottom: 0;
    background-color: #0B6E5F;
    margin-bottom: -1vh;
    border-radius: 8vw 8vw 0 0;
    width: 100vw;
}

.main #footerText{
    width: 80vw;
    text-align: center;
    position: absolute;
    left: 50%;
    top: -10%;
    font-size: 2vh;
    transform: translate(-50%, 0);
    font-family: 'Prompt', sans-serif;
    font-weight: lighter;
}
#fleche{
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 9vw;
}

/*//// POP-UP ////*/
#pop-up{
    display: none;
}
#animal-picture{
    z-index: -5;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    /*if no picture*/
    font-size: 2vh;
    text-align: center;
    color: #0B6E5F;
    font-family: 'Prompt', sans-serif;
}
#copyright{
    z-index: 100;
    position: absolute;
    top: 5vh;
    right: 3vw;
    transform-origin: 100% 50%;
    rotate: -90deg;
    font-family: 'Prompt', sans-serif;
    font-size: 1.2vh;
    color: #FFF8F1;
}
#quit{
    max-width: 7vw;
    height: auto;
    position: absolute;
    right: 4vw;
    top: 2.5vh;
}


main.pop-up{
    margin-top: -15%;
    background-color: #FBC5EB;
    border-radius: 10vw 10vw 0 0;
    height: 68.2vh;
}

#animal-name{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    color: #FFF8F1;
    left: 5%;
    margin-top: 1%;
    font-size: 4.5vw;
}
#desc{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-size: 2vh;
    font-weight: lighter;
    color: #0B6E5F;
    left: 4%;
    margin-top: 11.5%;
}
#menace{
    position: absolute;
    background-color: #FFF8F1;
    font-family: 'Prompt', sans-serif;
    color: #0B6E5F;
    width: 44vw;
    left: 5vw;
    margin-top: 20%;
    border-radius: 10vw;
}
#menace #menace-txt{
    font-size: 2.5vh;
    font-weight: lighter;
    max-width: 70%;
    line-height: 3vh;
    text-align: center;
    margin-top: 1.6vh;
    margin-bottom: 5vh;
    transform: translate(7vw, 0);
}
#menace #menace-level{
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    margin-top: -4vh;
    margin-bottom: 1vh;
}


#vus{
    position: absolute;
    background-color: #FFF8F1;
    font-family: 'Prompt', sans-serif;
    color: #0B6E5F;
    width: 44vw;
    right: 5vw;
    margin-top: 20%;
    border-radius: 10vw;
}
#vus #vus-txt{
    font-size: 2.5vh;
    font-weight: lighter;
    max-width: 75%;
    text-align: center;
    transform: translate(16%, 0);
    line-height: 3vh;
    margin-top: -6vh;
    margin-bottom: 1.8vh;
}
#vus #nb{
    font-size: 3.5vh;
    font-weight: bold;
    text-align: center;
    margin-top: 1vh;
}

#map{
    position: absolute;
    background-color: #FFF8F1;
    width: 94%;
    height: auto;
    right: 3%;
    bottom: 28vh;
    border-radius: 10vw;
    font-size: 3vh;
    font-family: 'Prompt', sans-serif;
    color: #0B6E5F;
    text-align: center;
    line-height: 10vh;
}
#map h5{
    text-align: center;
    font-size: 2.5vh;
    font-weight: lighter;
    font-family: 'Prompt', sans-serif;
    color: #0B6E5F;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

footer.pop-up{
    position: absolute;
    width: 100vw;
    bottom: 0;
}
#mascotte{
    position: absolute;
    right: 2%;
    bottom: 0;
    width: 33%;
    height: auto;
}
#tips{
    position: absolute;
    left: 19vw;
    bottom: 14.5vh;
}
#tips h5{
    font-family: "Covered By Your Grace", cursive;
    font-size: 3vh;
    font-weight: lighter;
    color: #0B6E5F;
}
#tips #line-le-saviez-vous{
    position: absolute;
    top: 70%;
    width: 105%;
    left: -4%;
    margin-top: -7%;
}

#tips-text{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    line-height: 2.8vh;
    font-size: 2vh;
    font-weight: lighter;
    color: #0B6E5F;
    width: 60%;
    text-align: center;
    bottom: 8.7vh;
    left: 35%;
    transform: translate(-50%, 0);
}
#fleche2{
    position: absolute;
    max-width: 9vw;
    left: 35%;
    bottom: 8.3vh;
    transform: translate(-50%, 0);

}
