.menuTitre
{
    color: #FBC5EB;
    font-weight: 700;
    margin-bottom: 2.5em;
    margin-top: 3em;
}

.sousTitresMenu
{

    color: #0B6E5F;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.sousTitresMenu:nth-child(4)
{
    margin-bottom: 5em;
}

.ligneSeparation
{
    width: 70%;
    border: 0.075em solid #FBC5EB;
}

#texteMenu
{
    text-align: center;
    font-size: 2.75em;
    font-family: 'Prompt', sans-serif;
    /*margin-top: 5em;*/
    position: absolute;
    background-color: #FFF8F1;
    height: 100%;
    z-index: 1;
}

aside
{
    height: 100%;
}

.texteFinMenu
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    color: #0B6E5F;
    font-weight: 400;
    text-align: center;
    font-size: 0.85em;
}

header
{
    height: 0.01em;
}

#texteMenu {
    transition: 1s;
    display: none;
    left: 100%;
}