.menuTitre
{
    color: #FBC5EB;
    font-weight: 700;
    margin-bottom: 3em;
    margin-top: 3em;
}

.sousTitresMenu
{

    color: #0B6E5F;
    font-weight: 500;
    margin-bottom: 0.5em;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 6vw;
}

.sousTitresMenu:nth-child(4)
{
    margin-bottom: 5em;
}

.ligneSeparation
{
    width: 70%;
    border: 0.3vh solid #FBC5EB;
    margin-top: 15vh;
}

#texteMenu
{
    text-align: center;
    font-size: 4.5vw;
    font-family: 'Prompt', sans-serif;
    /*margin-top: 5em;*/
    position: absolute;
    background-color: #FFF8F1;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

aside
{
    height: 100%;
}

.texteFinMenu
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    color: #0B6E5F;
    font-weight: 400;
    text-align: center;
    font-size: 0.85em;
}

header
{
    position: fixed;
    height: 130px;
    display: flex;
    width: 101%;
    background-color: #FBC5EB;
    z-index: 5;
}

#texteMenu {
    transition: 1s;
    display: none;
    left: 100%;
}
