body
{
    background-color: #FBC5EB;
    margin: 0;
    overflow: hidden;
}

.texte-intro
{
    text-align: center;
    margin: 5em 3em 3em;
    font-size: 40px;
    color: #FFF8F1;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
}

.texte-Elie
{
    text-align: right;
    width: 600px;
    font-size: 55px;
    color: #0B6E5F;
    font-family: 'Covered By Your Grace', cursive;
}

.texte-Elie p
{
    margin-bottom: 0;
}

.texte-Elie img
{
    margin-left: 0.5em;
}

.mascotte {
    top: 400px;
    right: -250px;
    position: absolute;
    z-index: -1;
}

.barres-recherche
{
    text-align: center;
    margin-top: 20em;
}

.search
{
    margin-bottom: 4em;
    border: none;
    border-radius: 75px;
    background-color: #FFF8F1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
    padding-top: 10px;
    padding-bottom: 0;
}

.search:nth-child(2), .search:nth-child(1)
{
    margin-bottom: 0;
}

.searchBar
{
    width: 80%;
    border: none;
    padding-top: 20px;
    box-sizing: border-box;
    background: none;
}

.searchBar::placeholder, input[type="text"]
{
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    font-size: 50px;
    opacity: 1;
}

.searchBar:focus::placeholder
{
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    font-size: 50px;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s linear;
}

.bouton-recherche {
    background-image: url("../img/loupe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 70px;
    position: absolute;
    padding-top: 115px;
}

.autoItemAni, .autoItemCom
{
    background-color: transparent;
    border: none;
    height: 70px;
    font-size: 3em;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

#autocompletionCom
{
    background-color: #FFF8F1;
    border-radius: 0 0 75px 75px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    margin-top: -75px;
    height: 300px;
}