body
{
    background-color: #FBC5EB;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    margin: 0;
}

#nbChoc
{
    font-size: 37.5em;
    line-height: 0.8em;
    margin: auto;
    padding-top: 100px;
    font-weight: 700;
    font-family: 'Prompt', sans-serif;
    color: #FBC5EB;
    margin-top: 200px;
}

div
{
    text-align: center;
}

#texteExplication
{
    font-size: 55px;
    margin-left : 1em;
    margin-right : 1em;
}

#texteDanger
{
    font-size: 45px;
    margin: 2.5em 5em 5em;
}

#nbDanger
{
    font-weight: 700;
}

#fleche {
    padding-bottom: 3em;
}
.round-background
{
    background-color: #FFF8F1;
    border-radius: 100px;
    width: 90%;
    height: 90%;
    margin: 2em auto;
}

/*@keyframes slideUp {*/
/*    from {*/
/*        transform: translateY(100%);*/
/*    }*/
/*    to {*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

/*body {*/
/*    transition: all 1s ease-in-out;*/
/*}*/
