body
{
    background-color: #FBC5EB;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.texte-intro
{
    text-align: center;
    margin: 5em 3em 3em;
    /*margin: 10vh 9vw 9vw;*/
    font-size: 2.5em;
    color: #FFF8F1;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
}

.texte-Elie
{
    text-align: right;
    width: 11em;
    font-size: 3.5em;
    color: #0B6E5F;
    font-family: 'Covered By Your Grace', cursive;
}

.texte-Elie p
{
    margin-bottom: 0;
}

.texte-Elie img
{
    margin-left: 0.5em;
}

.mascotte {
    top: 25em;
    right: -15em;
    position: absolute;
    z-index: -1;
}

.barres-recherche
{
    text-align: center;
    margin-top: 20em;
}

.search
{
    margin-bottom: 4em;
    border: none;
    border-radius: 75px;
    background-color: #FFF8F1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
    padding-top: 0.75em;
    padding-bottom: 0;
}

.search:nth-child(2), .search:nth-child(1)
{
    margin-bottom: 0;
}

.searchBar
{
    width: 80%;
    border: none;
    padding-top: 0.3em;
    box-sizing: border-box;
    background: none;
}

.searchBar::placeholder
{
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    margin-left: -1em;
    opacity: 1;
}

input[type="text"]
{
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    font-size: 3.5em;
    margin-left: -1em;
    opacity: 1;
}

.searchBar:focus::placeholder
{
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s linear;
}

.bouton-recherche {
    background-image: url("../img/loupe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 6em;
    position: absolute;
    padding-top: 9em;
}

.autoItemAni, .autoItemCom
{
    background-color: transparent;
    border: none;
    height: 1.75em;
    font-size: 3em;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

#autocompletionCom
{
    background-color: #FFF8F1;
    border-radius: 0 0 75px 75px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    margin-top: -5em;
    height: 20em;
}