body
{
    background-color: #FBC5EB;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.texte-intro
{
    text-align: center;
    /*margin: 5em 3em 3em;*/
    margin: 10vh 9vw 9vw;
    font-size: 2vh;
    color: #FFF8F1;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
}

.texte-Elie
{
    text-align: right;
    width: 40vw;
    font-size: 2.75vh;
    color: #0B6E5F;
    font-family: 'Covered By Your Grace', cursive;
    margin-left: auto;
    margin-right: 23vh;
    /*margin-top: 10vh;*/
}

#elie
{
    /*width: 93vw;*/
    height: 75vh;
}

.texte-Elie p
{
    margin-bottom: 0;
}

.mascotte {
    /*bottom: -400px;*/
    right: 0;
    bottom: 0;
    /*right: -22vw;*/
    position: absolute;
    z-index: -1;
}

.barres-recherche
{
    text-align: center;
    margin-top: 15vh;
}

#ligneDialogue
{
    width: 40vw;
    /*height: 2vh;*/
}

.search
{
    border: none;
    border-radius: 75vw;
    background-color: #FFF8F1;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: 8vh;
    padding-top: 0.75vh;
    padding-bottom: 0;
}

.search:nth-child(2), .search:nth-child(1)
{
    margin-bottom: 0;
}

.searchBar
{
    width: 80%;
    border: none;
    padding-top: 1.5vh;
    box-sizing: border-box;
    background: none;
}

.searchBar::placeholder
{
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    margin-left: -1vw;
    opacity: 1;
}

input[type="text"]
{
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    font-size: 3vh;
    margin-left: -5vw;
    opacity: 1;
}

.searchBar:focus::placeholder
{
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    color : #0B6E5F;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s linear;
}

.bouton-recherche {
    background-image: url("../img/loupe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 10vw;
    /*height: 8vh;*/
    position: absolute;
    padding-top: 7vh;
}

.autoItemAni, .autoItemCom
{
    background-color: transparent;
    border: none;
    height: 4vh;
    font-size: 2.5vh;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

#autocompletionCom
{
    background-color: #FFF8F1;
    border-radius: 0 0 50px 50px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    margin-top: -5vh;
    height: 20vh;
}