*{
    padding:0;
    margin:0;
    font-family: "Space Grotesk";
}

body{
    background-color: #FFF3ED;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: SpaceGrotesk;
}

#allerCarteCont {
    display: flex;
    justify-content: space-between;
}

#scoreFin {
    display: flex;
    flex-direction: row-reverse;
}

#allerALaCarte {
    margin-left: 5%;
    border-radius: 1em;
}

#phylactere {
    width: 300px;
    height: 60px;
}

#sectionReponses {
    margin-bottom: 10px;
}

#sectionQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#boutonIntro {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    color: black;
    font-weight: bold;
    border: 4px solid black;
    padding: 1em;
    font-size: 0.2em;
    border-radius: 1em;
}

.rep {
    box-shadow: 6px 6px black;
}

.rep:hover {
    box-shadow: 6px 6px black;
    top: 2px;
}

.rep:active {
    box-shadow: 0 0 ;
    top: 6px;
}

#elefunMarche {
    height: 600px;
    width: 600px;
}

img {
    width: 60px;
    height: 60px;
}

#video {
    z-index: -1;
    width: 100%;
}

#miniCarte {
    height: 506px;
    width: 710px;
    border-radius: 12px;
}

#introduction {
    display: flex;
    justify-content: space-between;
} 

#discourtEleph {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#elefunIntro {
    position: static;
    width: 100%;
    z-index: 1;
}

#phyphy {
    position: relative;
    bottom: 520px;
    width: 300px;
    height: 60px;
    z-index: 10;
}

#texteIntro {
    position: relative;
    bottom: 500px;
    z-index: 10;
    text-align: justify;
    font-size: 0.3em;
    margin: 0 5%;
}

#carteFin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#start {
    position: relative;
    bottom: 300px;
    z-index: 10;
}

#carteInitiativePlus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#nomInitiativePlus {
    text-align: center;
    font-size : 0.5em;
    font-weight: bold;
}

#titre {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logoInitiative {
    width: 20%;
    height: 20%;
}

#articleInitiative {
    text-align: left;
    font-size : 0.35em;
    margin: 0.6em 0;
    width: 800px;
    height: 1000px;
    overflow-y: scroll;
    border-radius: 5%;
    padding: 30px;
}

#credits {
    border: none;
    margin: 2em 0 0;
}

#logoContain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15% 0;
    gap: 0.5em;
}

#partenaires {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 25%;
    height: 2%;
}

#carteCredits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
}

#retourCredits {
    border-radius: 1em;
    margin-right: 5%;
}

#Images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carteScore {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%;
}

#scoreTotal {
    display: flex;
    flex-direction: column;
}

.elefunResultat {
    width: 350px;
    height: 350px;
}

#carteQuestion {
    margin: 0.2em 0.3em 0 0.3em;
    padding: 0.1em;
    height: 15%;
}

#infoQuestContain {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#menu {
    display: flex;
    font-size: 0.3em;
    justify-content: space-around;
    margin: 0.4em;
    padding-top: 0.4em;
}

#menu button {
    color: black;
    background-color: #FFFBF0;
    padding: 0.2em;
    font-weight: normal;
    margin: 0;
    border: 4px solid black;
}

button {
    background-color: #FFFBF0;
}

#menuouvert {
    display: none;
    flex-direction: column;
    align-items: center;
}

#menuouvert button {
    color: black;
    font-size: 0.2em;
    border: 4px solid black;
    border-radius: 1em;
    margin: 0.2em;
}

.itemmenu {
    color: black;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 0.2em;
}

#menutxt {
    display: flex;
    flex-direction: column;
    margin: 0.25em; 
}

.txt {
    font-size: 0.3em;
    font-weight: normal;
}

#choixThemes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 0.25em;
    width: fit-content;
    font-size: 1.2em;
}

#choixThemes button {
    width: fit-content;
}

#Alimentation {
    background-color: #FFE248;
}

#Mobilité {
    background-color: #FF8B00;
}

#Jardinage {
    background-color: #FEC6CD;
}

#Mode {
    background-color: #B6A0FF;
}

#Maison {
    background-color: #69D1FD;
}

#infoQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.2em;
    width: fit-content;
}

#difficulteQuestion {
    font-size: 0.25em;
    align-self: flex-start;
}

#nbQuestion {
    font-size: 0.5em;
}

#themeQuestion {
    font-size: 0.25em;
    align-self: flex-end;
}

#sectionThemes {
    display: flex;
    flex-direction: column;
}

#Illu {
    margin: 5px;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-grow: 3;
}

.elefunStatic {
    width: 400px;
    height: 400px;
}

#sectionQuestions {
    margin: 0.2em;
    height: 25%;
}

#carteInitiative {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 10%;
    height: 15em;
    padding: 0 5%;
}

#nomInitiative {
    font-weight: bold;
}

#boutonContain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#voirPlusContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#videoArticle {
    width: 60%;
}

.boutonNav {
    border-radius: 1em;
    margin: 0.2em;
}

#suivantContain {
    display: flex;
    justify-content: space-evenly;
}

#nextQuestionButtonContainer {
    display: flex;
    justify-content: space-evenly;
}

#descriptionInitiative {
    font-size: 0.6em;
    align-content: center;
}

#adresseInitiative {
    font-style: italic;
    font-size: 0.5em;
}

#question {
    font-size: 0.30em;
    margin-top: 3%;
}

#sectionReponses {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    height: 30%;
}

.rep {
    margin: 0.2em;
    font-size: 0.2em;
    border-radius: 1em;

}

#explication {
    font-size: 0.2em;
    height: 15%;
    margin: 20px 0;
}

#carteInitiative {
    font-size: 0.5em;
}

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positionning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

body{
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}